.wrapper {
  composes: container from global;
}

.content {
  composes: container-inner from global;
  display: flex;
  justify-content: center;
}

.slot {
  display: none;
  width: 100%;
}

.slotSm {
  display: flex;
  justify-content: center;
}

@media (min-width: 810px) {
  .slotSm {
    display: none;
  }

  .slotMd {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1536px) {
  .slotMd {
    display: none;
  }

  .slotLg {
    display: flex;
    justify-content: center;
  }
}
